<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>STWCollectionView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0BF7952D1EB8BDDA0085319C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0BF795411EB8BDDB0085319C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0BF7954C1EB8BDDB0085319C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
